@charset "ISO-8859-1";

body {
	background-color: gray;
}

.cc {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	/*width: 100%; */
	position:absolute;
	top: -530px;
	width:98.5%;
	margin-left:10px;
	padding: 30px;
}




.red {
  color: red;
  
  
}

.cc1 {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	/*width: 100%; */
	position:absolute;
	top: 355px;
	width:100%;
	right:8px;
	/* margin-right:1000px; */
	padding: 30px;
}



.navbar-custom {
  height: 100px;
  margin-top: 0px
}


.rk {
  position: relative;
  overflow: hidden;
  width: 10%;
}

.cc2 {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	position:absolute;
	margin-top: 600px;
	right:8px;
	padding: 30px;
	
}
.cc3 {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	position:absolute;
	margin-top: 275px;
	right:8px;
	
	
}
.pk {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}