<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    			xmlns:sec="http://www.thymeleaf.org"
				th:replace="base2::layout(~{::section})" >
<head>
<meta charset="UTF-8">
<title>User Dashboard</title>
</head>
<body>
	<section class="text-center mt-1">
		<h1>Welcome, <span sec:authentication="principal.username"></span></h1>
		<h3 > <a class="btn btn-primary" th:href="@{/user/connection}">Connection details</a> </h3>
		<br /> <a class="btn btn-primary" th:href="@{/user/ServiceProviderList}">Show Service Provider List</a>
	<br />
	<br />
	<br /> <a class="btn btn-primary" th:href="@{/user/saveServiceProvider}">Add Service Provider</a>
	<br />
	<br />
	<a class="btn btn-primary" href="/logout">logout</a>
	</section>
</body>
</html>